@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


:root {
    --sidebarWidth: 290px;
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 8px;
} 

body {
    font-family: "Poppins", sans-serif;
    /* background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
}


                                       /*    Header CSS    */


.nav {
    background-color: whitesmoke;
    width: 100%;
    padding: 5px;
    z-index: 1000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.nav-logo {
    width: 160px;
    padding: 10px;
}

.guestbt {
    padding: .6rem 1.5rem;
    border-radius: 30px;
    border: none;
    background-color: white;
    border-color: aliceblue;
    font-size: 13px;
    font-weight: 600;
    color: rgb(41, 40, 40);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logoutbt {
    padding: .5rem 1.5rem;
    border-radius: 30px;
    border: none;
    background-color: white;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}

.nav-left{
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
}

.menu-icon {
    margin-left: 30px;
    margin-top: 4px;  
}

.item-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    word-break: keep-all;
    padding: 0.5rem;
    font-weight: 500;
    border-radius: 4px;
    transition: background 0.2s ease;
}

.item-title:hover {
    background-color: white;
    color: blue;
    border-radius: 5px;
}

.sidebar-icon {
    width: 13px;
    border-radius: 20px;
    margin: 5px;
}

.arrow {
    margin-left: auto;
}

.sidebar h4 {
    font-family: sans-serif;
    color: #363535;
    font-size: 15.4px;
    margin: 1px;
    padding: 10px;
}

.sidebar h4:hover {
    background-color: white;
    color: blue;
    border-radius: 5px;
}

.main-section {
    display: flex;
    gap: 1rem;
    background: #ffffff;
    /* padding-block : 1rem; */
    overflow-x: clip;
    margin-top: 10px;  
}

.main-section.open {
    --sidebarWidth: 0px;
    gap: 0;
}

.sidebar-inner {
    opacity: 1;
    transition: 0.3s ease;
}

.main-section.open .sidebar-inner{
    opacity: 0;
}

.sidebar {
    width: var(--sidebarWidth);
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: clip;
    z-index: 100;
    border-radius: 15px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s ease;   
}

.side-scroll{
    flex-grow: 1;
    height: 420px;
    overflow-y: auto;
    overflow-x: clip;
}

.main-section.open .sidebar {
    padding: 0;
}

.main-content {
    width: calc(100% - var(--sidebarWidth)); 
    height: 84.7vh;
    overflow-y: auto;
    overflow-x: clip;
    transition: 0.3s ease;
    border-radius: 10px;
}

.sidebar-item {
    padding: 4px 10px;
    cursor: pointer;
    transition: background 0.3s;   
}

.item-children {
    padding-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.drishtilogo {
    width: 160px;
    margin-top: 40px;
    margin-left: 40px;
}



                                  /*   Select Level CSS   */

.form-container {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 10px;
    border-radius: 15px;
}

.form-star {
    color: red;
}

.form-error {
    color: red;
    display: block;
    font-size: 13.5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.form-container>h2 {
    font-weight: 600;
}

.form-group {
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    gap: 1rem;
    margin-top: 20px;
}

.form-label {
    font-size: 18px;
    font-weight: 600;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #474646;
}

.form-control {
    width: 100%;
    border-radius: .6rem;
    padding: 8px 12px;
    margin-bottom: 10px;
    border: 1px solid black;
    color: #000000;
    font-size: 15px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(180, 174, 174);
}

.form-submit-div{
    display: flex;
    justify-content: center;
}

.form-submit-bt {
    padding: .7rem 3rem;
    margin: 20px;
    border-radius: 10px;
    background-color: #d82727;
    border: none;
    font-size: 18px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.form-submit-bt:hover{
   background-color:rgb(182, 5, 5);
}



                                    /*    Pump Status    */
                                   

.PumpStatus {
    min-height: 100px;
    background-color:#f8f8f8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    justify-content: center;
}

.pumpstatus1 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.pumpstatus1 img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.pumpbutton {
    display: grid;
    gap: 10px;
    width: 160px;
}

.pumpbt {
    width: 100%;
    padding: .8rem 1rem;
    border-radius: 10px;
    border-color:  #b34242;
    font-size: 16px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pumpbt:hover{
    background-color: #bb2424;
    color: white;
}

.pumpbt1 {
    width: 100%;
    padding: .8rem 1rem;
    border-radius: 10px;
    border-color: 1px solid rgb(184, 180, 180);
    font-size: 16px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pumpbt1:hover {
    background-color: #555353;
    color: white;
}

.Pumpview {
    background-color: #f8f8f8;
    width: auto;
    margin-top: 20px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.viewdiv {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.viewdiv>button {
    padding: 15px;
    border-radius: 10px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #d82727;
    color: white;
    border: none;
}

.viewdiv>button:hover{
    background-color:rgb(182, 5, 5);
 }

.tank {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
    margin-top: 0px;
    border: 1px solid gainsboro;
}

.tank-status-body {
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}

.tank-status-left {
    flex: 7;
}

.tank-status-right {
    flex: 3;
}

.tankcircle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-right: -30px;
}

.progress-circle {
    transform: rotate(-90deg);
}

circle {
    transition: stroke-dashoffset 0.5s ease-in-out;
    stroke-linecap: round;
}

.progress-text {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #333;
} 

.tank-status-left>h3 {
    font-size: 17px;
    margin-top: 0px;
}

.tank-status-left>h4 {
    font-size: 14px;
    color: #555353;
}

.tankLTR {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.LTR {
    background-color: #ee7474;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.onlineLTR {
    background-color: rgb(136, 223, 136);
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.LTR0 {
    width: auto;
    background-color: #ee7474;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.offlineLTR {
    width: auto;
    background-color: #ee7474;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.LTR3 {
    width: auto;
    background-color: #ee7474;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.disconnLTR {
    width: auto;
    background-color: #979797;
    color: white;
    padding: 8px;
    border-radius: 10px;
}



                                 /*   Today Sales CSS   */

.todaysale {
    width: 100%;
    /* height: 310px; */
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(233, 230, 230);
}

.todaysale>h4 {
    font-weight: lighter;
    color: rgb(85, 83, 83);
    font-size: 15px;
    margin: 10px;
}

.sale-progress {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 100vw;
    overflow: hidden;
    z-index: 0;
}

.sale-progress::after {
    position: absolute;
    content: "";
    width: 45%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 100vw;
    background: #04bff8;
    z-index: 1;
}

.sale-progress1 {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 100vw;
    overflow: hidden;
    z-index: 0;
}

.sale-progress1::after {
    position: absolute;
    content: "";
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 100vw;
    background: #eee016;
    z-index: 1;
}

.sale-progress2 {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 100vw;
    overflow: hidden;
    z-index: 0;
}

.sale-progress2::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 100vw;
    background: #04bff8;
    z-index: 1;
}

.sale-progress3 {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 100vw;
    overflow: hidden;
    z-index: 0;
}

.sale-progress3::after {
    position: absolute;
    content: "";
    width: 55%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 100vw;
    background: #eee016;
    z-index: 1;
}



                                   /*   Today Transaction   */


.today-trans {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(233, 230, 230);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.today-trans>h4 {
    font-weight: lighter;
    color: rgb(85, 83, 83);
    font-size: 15px;
    margin: 10px;
}

.trans-progress1 {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 100vw;
    overflow: hidden;
    z-index: 0;
}

.trans-progress1::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 100vw;
    background: #04bff8;
    z-index: 1;
}

.trans-progress2 {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 100vw;
    overflow: hidden;
    z-index: 0;
}

.trans-progress2::after {
    position: absolute;
    content: "";
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 100vw;
    background: #eee016;
    z-index: 1;
}

.trans-progress3 {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 100vw;
    overflow: hidden;
    z-index: 0;
}

.trans-progress3::after {
    position: absolute;
    content: "";
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 100vw;
    background: #04bff8;
    z-index: 1;
}

.trans-progress4 {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 100vw;
    overflow: hidden;
    z-index: 0;
}

.trans-progress4::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 100vw;
    background: #eee016;
    z-index: 1;
}



                                 /*   Growth Parameter   */


.growthparameter {
    width: 100%;
    background-color:#f8f8f8;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.growthparameter {
    text-align: center;
}

.growthpara-div {
    display: flex;
    gap: 20px;  
    align-items: center;
    justify-content: space-between;
}

.growth-form{
    width: 30%;
}

.chart-div{
    width: 70%;
    height: 300px;
    margin-top: 10px;
}


                                  /*   MainPage   */


.flexcomp {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.pumpstatus-comp {
    width: calc(30% - .5rem);
}

.mid-comp {
    width: calc(70% - .5rem);
}

.today-comp {
    display: flex;
    gap: 1rem;
}



                                 /*   List-Container   */


.list-container {
    width: auto;
    background-color:#f8f8f8;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
}

.list-container > h3{
    text-align: center;
}

.table-items {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-bt-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-add-bt{
    padding: .7rem 1.6rem;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(3, 134, 185);
    border: none;
    font-family: system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    right: 0;
}

.list-add-bt:hover{
    background-color: rgb(3, 106, 146);
}

.list-download-bt{
    padding: .7rem 1.5rem;
    border-radius: 10px;
    background-color:rgb(5, 182, 5);
    border: none;
    font-family: system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
}

.list-download-bt:hover{
    background-color: green;
}

.list-input-div{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-input-div > input{
    padding: 0.4rem .6rem;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid rgb(219, 218, 218);
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.list-input-div > select{
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid rgb(219, 218, 218);
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;  
}

table {
    border-radius: 10px;
    width: 100%;
    height: auto; 
    border: 1px solid rgb(182, 181, 181);
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

th {
    background-color: #c8c8c8;
    padding: 10px;
}

th:hover {
    background-color: rgb(20, 20, 20); 
    color: white;
}

td {
    text-align: center;
    padding: 6px;
    font-size: 15px;
    background-color: white;
}

td:hover {
    background-color: royalblue;
    color: white;
}

.pencil-icon{
    color: black;
}

.thumb-icon{
    color: green;
}

.delete-icon{
    color: red;
}

.table-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.table-icons>span{
   padding: 6px;
}

.table-tfoot > td{
    padding: 20px;
    color: #000000;
    background-color: #e7e7e7;
    text-align: start;
    border-top: 1px solid  rgb(182, 181, 181);
}

/* .pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}

.thumb-icon {
  cursor: pointer;
}

.thumb-icon.liked svg {
  color: green;
}

.thumb-icon {
  transition: color 0.3s;
} */

.trans.c{
    background-color: red;
    color: white;
    margin: 10px;
    padding: 21px;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
}


/* LoginPage */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.logincontainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 40px auto;
  background-color: ghostwhite;
  border-radius: 20px;
  box-shadow: 2px 2px 10px gainsboro;
}

.login-box {
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.loginleft {
  flex: 1;
  background-color: #9edc44;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 15px;
}

.camera-img {
  width: 60%;
  height: auto;
}

.logo-img {
 width: 45%;
}

.loginright {
  flex: 1;
  padding: 2rem;
  border-radius: 15px;
  /* background-color: rgb(241, 243, 245); */
}

.loginright h2 {
  color: rgb(133, 221, 17);
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.logininput-div{
    margin-bottom: 15px;
}
.error-msg {
    color: red;
    font-size: 15px;
} 

.loginbt {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(152, 212, 73);
}

.forgot {
   text-decoration: none;
   color: rgb(22, 22, 22);
   font-size: 15px;
   font-weight: 600;
}

.loginleft-div{
  margin: 20px;
  padding: 20px;
  background-color: aquamarine;
  color: red;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .login-box {
    flex-direction: column;
  }

  .loginleft,
  .loginright {
    width: 100%;
    padding: 30px 20px;
  }

  .camera-img {
    width: 160px;
  }

  .logo-img {
   width: 120px;
  }
}
